@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Advent+Pro&display=swap");
* {
}
html {
    max-width: 100vw;
    height: auto;
    font-size: 1rem;
}

body {
    margin: 0;

    /* scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity; */

    /* Reserve space for header plus some extra space for sneak peeking. */
    /* scroll-padding-top: 150px; useful for sticky navs, to have stuff scroll after*/
}
body {
    scroll-snap-type: y proximity;
}
#icon {
    top: 0;
    position: absolute;
    min-height: 3em;
    min-width: 3em;
    background: black;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    cursor: url(hand.cur), pointer;
    z-index: 10;
}

.title {
    font-family: "Abril Fatface";
    font-size: 5rem;
}
.sub-title {
    font-size: 3rem;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h1,
h2,
h3 {
    font-family: "Advent Pro", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    position: sticky;
    z-index: 2;
    top: -2px;
    height: 3rem;
    width: min-content;
    padding-right: 1rem;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 2vw;
}

.portrait {
    width: 15vw;
    min-width: 150px;
    max-width: 100%;
    border-radius: 100%;
    margin: 1rem;
}

#home,
#about,
#projects,
#skills,
#timeline {
    position: relative;
    scroll-snap-align: start;
    min-height: 100vh;
    height: fit-content;
}

#timeline {
    margin-bottom: 4rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
    position: absolute;
    margin: 0;
    left: -100px;
}

ul li {
}
h1 {
    /* font-family: "SF Display"; */
    /* line-height: 3rem;
    font-size: 4rem;
    margin: 2rem 0;
    max-width: 500px; */
}

.section-content {
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    float: left;
    /* padding-top: 4vh; */
    max-width: 700px;
}

.white {
    padding: 2rem;
    background: white;
    box-shadow: 1px 1px 10px #0000003d;
}

video {
    float: right;
    max-height: 30vh;
    max-width: 90vw;
}
.section-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 6rem 0 0 0;
}
.section-container-full {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background: url("./img/background.jpg"); */
}
.about {
    flex-direction: column;
}

.section-container:nth-of-type(2) {
    /* background: #f3f8ff; */
}
.section-container:nth-of-type(3) {
    background: white;
}
.section-container:nth-of-type(5) {
    background: white;
}

.profile {
    height: 26vh;
    border-radius: 100%;
}

nav h2 {
    padding-left: 1rem;
}
picture {
    position: fixed;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    margin: 0;
    height: auto;
}
picture img {
    max-height: 100vh;
    min-width: 100vw;
    height: auto;
    object-fit: cover;
}
button {
    margin: 8px;
}

.card {
    margin: 1rem auto;
}

.circle {
    height: 20px;
    width: 20px;
    background: black;
    border-radius: 100%;
    align-self: center;
    justify-self: center;
}
.date h1 {
    margin-bottom: 3rem;
}
.date {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-row-gap: 2rem;
}

.date span {
    padding: 0 2rem;
    /* width: 87%; */
    /* justify-self: self-end; */
    text-align: initial;
}

.line {
    width: 100%;
    background: black;
    height: 1rem;
    margin: 2.5rem auto;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 600px) {
    white {
        padding: 2rem;
    }
}

html {
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.5rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.7rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.9rem;
    }
}
