@import url("https://fonts.googleapis.com/css?family=Assistant:400,700,800&display=swap");

* {
}
html {
    width: 100vw;
    height: auto;
}

body {
    margin: 0;

    font-family: "Assistant", sans-serif; /* scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity; */

    /* Reserve space for header plus some extra space for sneak peeking. */
    /* scroll-padding-top: 150px; useful for sticky navs, to have stuff scroll after*/
}
body {
    scroll-snap-type: y proximity;
}
#icon {
    min-height: 3em;
    min-width: 3em;
    background: black;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    cursor: url(hand.cur), pointer;
    z-index: 3;
}
nav {
    visibility: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    position: sticky;
    z-index: 2;
    top: -2px;
    height: 3rem;
    width: min-content;
    padding-right: 1rem;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 2vw;
}

#home,
#about,
#projects {
    position: relative;
    scroll-snap-align: start;
    min-height: 100vh;
    height: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
    position: relative;
    left: -50vw;
}

ul li {
}
h1 {
    font-family: "SF Display";
    line-height: 3rem;
    font-size: 4rem;
    margin: 2rem 0;
    max-width: 500px;
}

.section-container h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.section-content {
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    float: left;
    padding-top: 4vh;
    max-width: 700px;
}

.white {
    padding: 5vw;
    background: white;
}

video {
    float: right;
    max-height: 30vh;
    max-width: 90vw;
}
.section-container {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.section-container-full {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: flex;
    /* background: url("./img/background.jpg"); */
}
.about {
    flex-direction: column;
}

.section-container:nth-of-type(2) {
    background: #f3f8ff;
}
.section-container:nth-of-type(3) {
    background: #deecff;
}
.section-container:nth-of-type(4) {
    background: #c6cfff;
}

.profile {
    height: 26vh;
    border-radius: 100%;
}

nav h2 {
    padding-left: 1rem;
}

@media only screen and (max-width: 450px) {
    body {
        overflow-x: hidden;
    }
}
