<div class="petition-description">
    <span>
        <div class="title">
            <h1>NINTENDO: ALLOW US TO PLAY AS ZELDA AND SAVE LINK! </h1>
            <h2>For more female representation in the game industry and in the games themselves. Because there's no reason that since 1986, it's always the princess Zelda who gets to be saved.</h2>
        </div>
    <h1>A petition by a Nintendo Gurl</h1>

    <div class="zelda-icon">
        <img src="zeldaicon.png" alt="">
    </div>

<div class="text-columns">
<h2>Why do we need it?</h2>

<img src="zelda.png" alt="">

<span>Wouldn't it be awesome to play as Zelda (or Linkle, the female version of Link)?</span>

</div>
<h2>Nintendo tends to target their devices, best games and franchises to a male audience. Starting, as the most evocative example, by their product naming : Game <b>BOY</b></h2>.


<p>Nintendo needs to close the gender gap. A recent survey has shown that : "According to the study, in Q2 2017, males made up 70% of Nintendo Switch owners in North America, while females made up 30%. By Q4 2018, the ratio has balanced itself to 50% male and 50% female, which shows women are starting to gain interest in Nintendo Switch. This is in line with PS4 and Xbox One."</p>

<div class="text-columns">
<img src="/link2.jpg" alt="">
</div>
<div class="text-columns">
<img src="/link1.jpg" alt="">
</div>

<p>While Nintendo does represent females in their games, they are rarely relevant to the plot, and if they are, they tend to be depicted as more masculine (which gives an excuse to be relevant in the story)</p>

<div class="text-columns">
    <h3>Targeting the female audience : the fails </h3>

</div>

<div class="fails
">
<img src="awful1.jpg" alt="" style="min-width: 100px;max-width: 200px;">
<img src="awful2.jpg" alt="" style="min-width: 100px;max-width: 200px;">
</div>

<span style="text-align:center;">Yes. This exists. Thanks dad for buying us Zelda & Mario games instead.</span>
<br><br>
<h2>So please Nintendo: LET US PLAY AS ZELDA! Close the gender gap <3 </h2>

    <br><br>


    <br><br>

    <br><br>

</div>
