<nav>
<ul>
    <a href="/petition"><li><span>PETITION</span></li></a>
    <a href="/signers"><li><span>SIGNERS</span></li></a>
    <a href="/edit"><li><span>EDIT PROFILE</span></li></a>
    <a href="/logout"><li><span>LOG OUT</span></li></a>
</ul>
</nav>
